
body.css {background-color: #ced4d8;}
h1.css {color:h1 #AC6AC7;}
h2.css {color: 255,165,0;}
li.css {color:blue;}
{p.css  {class="first">This is a paragraph with a class of first</p>p.css{color-scheme: gold;}
input.css {border: 5px;}
<element-id (first) {background: #fff;}
<element-selection> :first {border-color: blue;3px;}
div.css element{font-size: 30px; color: rgb(255, 192, 218);}
<div>:only-of-type
class :has (p-element) 
{background-origin:  7px;}
class :target {color: seashell;font-size: 25px;}
<div>
